html {
  font-size: 15px; }

/*Estilos bloque bienvenidos*/
.bienvenidos {
  background: url("../images/fondo-bienvenidos.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden; }

.navbar-fixed-top{
  background: rgba(56, 142, 60, 1); 
}

.navbar-light .navbar-brand {
	color: rgb(33,33,33);
	font-size: 1.3rem;
	text-transform: uppercase;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
    color: rgb(117, 117, 117);
}

.navbar-toggler {
    font-size: 1.6rem;
    color: rgb(33,33,33) !important;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(33, 33, 33, 1);
    text-align: center;
    margin: .2rem 0;
}

.nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(117, 117, 117);
    background: #c8e6c9;
}

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover {
    color: rgba(33, 33, 33, 1);
    background: #c8e6c9;
}

#menuprincipal {
  clear: both; }

.texto-bienvenido{
	color: #212121;
	margin-top: 5rem; 

}  

.btn-primary {
    color: #FFFFFF;
    background-color: #388E3C;
    border-color: #388E3C;
    transition: all .5s ease;
    text-transform: uppercase;
}

.btn-primary:hover {
    color: #FFFFFF;
    background-color: #c8e6c9;
    border-color: #c8e6c9;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #388E3C;
    border-color: #388E3C;
    background-image: none;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #388E3C;
    border-color: #388E3C;
}

.quienes-somos{
  background: rgba(56, 142, 60, 1); 
  color: #fff;
} 

/**Estilos para el menú de inicio**/
.menuInicio{
  background: #8BC34A;

}
